:root {
  --background: #192233;
  --backgroundActive: #25324a;
  --backgroundBox: #121926;
  --backgroundBoxGradient: #1b283e;
  --textPrimary: #ffffff;
  --textDegradatePrimary: #6F3DCC;
  --textDegradatePrimeryHover:#854eeb;
  --textDegradateSecundary: #4786E8;
  --textSecondary: #8292a6;
  --box: #334155;
  background-color: var(--background);
  color: var(--textPrimary);
  font-family: 'Khand', sans-serif;
}

*{
  box-sizing: border-box;  
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  color: inherit;
  /* border:1px solid red; */
}

html {
  scroll-behavior: smooth;
}

.header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  background-color: var(--backgroundBox);
  /*Sin el background color se ve más lindo, pero al bajar se hace indistinguible :(*/
  padding: 2em 8em;
  position: fixed;
  height: 90px;
  z-index: 40;
  /* border: 1px solid red; */
}
#menuToggle, .menuLabel{
  display: none;
}

.header__title{
  font-size: 1em;
  letter-spacing: 4px;
  font-weight: 700;
  cursor: pointer;
}

.header__title--span {
  background: linear-gradient(to top, var(--textDegradatePrimary) 0%, var(--textDegradateSecundary) 50%, var(--textDegradatePrimary) 90%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-align: center;
  background-size:auto 200% ;
  animation: shine 3s linear infinite;
}
@keyframes shine {
  to {
    background-position:center 200% ;
  }
}

.navList{
  display: flex;
  gap: 1em;
  align-items: center;
}

.navList__divider{
  border-right: 1px solid var(--textPrimary);
  opacity: .3;
  height: 18px;
}

.navList_item{
  cursor: pointer;
  transition: 0.2s;
}

.navList_item:hover{
  color: var(--textSecondary);
}

.login {
  display: flex;
  align-items: center;
  gap: 1em;
}

.login__containerBtn{
  position: absolute;
  top: 70px;
  right: 0;
  display: flex;
  flex-direction: column;
  width: 200px;
  margin-right: 8em;
  text-align: center;
  z-index: 10;
  display: none;
  border: 1px solid rgba(130, 146, 165, 0.3);
  overflow: hidden;
  transition: all .5s ease-in-out;
  animation-name: slide-down;
  animation-duration: .3s;
}

@keyframes slide-down {
  0% { 
    opacity: 0; 
    transform: translateY(-10px); 
  }   
  100% { 
    opacity: 1; 
    transform: translateY(0); 
  }
}

.login__containerBtn:target{
  height: 50px;
}

.login__label{
  display: flex;
  align-items: center;
  gap: 4px;
  cursor: pointer;
  transition: 0.2s;
  padding: 4px 8px;
  border-radius: 12px;
}

.login__label:hover{
  background-color: rgba(130, 146, 165, 0.3);
}

#login__toggle{
  display: none;
}

#login__toggle:checked + .login__containerBtn{
  display: flex;
}

.login__divider{
  border-bottom: 1px solid var(--backgroundActive);
}

.login__btn{
  background-color: var(--background);
  color: var(--textPrimary);
  padding: 8px 12px;
  outline: inherit;
  border: none;
  transition: 0.2s;
  cursor: pointer;
}

.login__btn:hover{
  background-color: var(--backgroundActive);
}

.backgroundHeaderSticky{
  width: 100%;
  height: 90px;
  position: sticky;
  top: 0px;
  background-color: var(--backgroundBox);
  z-index: 30;
} 

/*Landing*/

#landing {
  width: 100%;
  height: 80vh;
  background-image: url("../assets/silentHill2Remake.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  box-shadow: inset 0 520px 80px -460px rgb(16 16 16/50%);
  clip-path: polygon(0 0,100% 0,100% 100%,0 calc(100% - 60px));
  z-index: 30;
  animation: backgroundpan 10s linear infinite;
  position: relative;
}

@keyframes backgroundpan {
  0% {
    background-position: center;
  }
  50% {
    background-position: 25% 75%;
  }
  100% {
    background-position: center;
  }
}

.hero {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  padding: 0 8em;
  gap: 1em;
}

.hero__title{
  font-size: 3em;
  font-weight: 500;
}

.hero__title span {
  background: linear-gradient(180deg, var(--textDegradatePrimary), var(--textDegradateSecundary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.hero__overview{
  font-size: 24px;
}

.containerBtn{
  display: flex;
  gap: 1em;
  border-radius: 12px;
}

.containerBtn__btn{
  background-color: var(--textDegradatePrimary);
  padding: 1em 2em;
  border-radius: 1em;
  cursor: pointer;
  border: 2px solid var(--textDegradatePrimary);
  transition: 0.2s;
}

.containerBtn__btn:nth-child(2){
  background-color: transparent ;
  border: 2px solid var(--textDegradatePrimary);
}

.containerBtn__btn:nth-child(1):hover{
  background-color: var(--textDegradatePrimeryHover);
}

.containerBtn__btn:nth-child(2):hover{
  border: 2px solid var(--textDegradatePrimeryHover);
  color: var(--textSecondary);
}

.containerBtn__btn:active {
  transform: scale(0.96);
}

/* trendingGames */

#trendingGames{
  padding: 6em 8em 0 8em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.trendingGames__header{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.trendingGames__header__btn{
  display: flex;
  gap: 1em;
}

.trendingGames__header__btn i{
  cursor: pointer;
  transition: .3s ease-in-out;
}

.trendingGames__header__btn i:hover{
  color: var(--textSecondary);
}

.trendingGames__header__btn i:active{
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.title{
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 24px;
  letter-spacing: 4px;
}

.title__divider{
  margin-bottom: 4px;
  border-right: 3px solid;
  border-image: linear-gradient(to bottom, var(--textDegradatePrimary), var(--textDegradateSecundary)) 1;
  height: 20px;
  
}

.cardTrending{
  display: flex;
  width: 100%;
  justify-content: space-between;
  flex-wrap: nowrap;
  /* border: 1px solid red; */
  overflow-x: auto;
  gap: 1em;
  padding-bottom: 8px;
}

.cardTrending::-webkit-scrollbar {
  /* -webkit-appearance: none; */
  height: 12px;
}

.cardTrending::-webkit-scrollbar-thumb {
  border-radius: 2em;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); */
  background-color: var(--backgroundBox);
}

.cardTrending::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 2em;
}

.cardTrending__container{
  width: 240px;
  display: flex;
  flex-direction: column;
  gap: 8px;

}

.container__zoom{
  overflow: hidden;
  height: 380px;
  width: 240px;
  border-radius: 12px;
  cursor: pointer;

}

.container__zoom img{
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;

}

.container__zoom img:hover{
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.container__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
}

.container__header h3{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: .3s ease-in-out;
  cursor: pointer;
}

.container__header h3:hover{
  color: var(--textSecondary);
}

.container__footer{
  display: flex;
  gap: 8px;
}

.container__footer h3:nth-child(2){
  color: var(--textSecondary);
  text-decoration: line-through;
}

.container__icon{
  color: var(--textPrimary);
  transition: .3s ease-in-out;
  cursor: pointer;
}

.container__icon:hover{
  color: var(--textDegradatePrimary);
}

.container__icon:active{
  transform: scale(0.9);
}

/* divider */

.dividerSeparator{
  width: 100%;
  background-color: var(--backgroundBox);
  padding: 0 8em;
  display: flex;
  position: relative;
  height: 200px;
  margin-top: 6em;
}

.dividerSeparator__pj{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 260px;
  padding-right: 8em;
}

.dividerSeparator__container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: calc(100% - 320px);
  align-items: center;
  gap: 2em;
  /* background-color: #4786E8; */
}

.dividerSeparator__dividerLine{
  border-right: 2px solid var(--textSecondary);
  height: 100px;
  opacity: .4;
  border-radius: 12;
}

.dividerSeparator__dividerLine__second{
  border-right: 2px solid var(--textSecondary);
  height: 100px;
  opacity: .4;
  border-radius: 12;
}

.containerBox{
  display: flex;
  align-items: center;
  gap: 1em;
}

.containerBox img{
  width: 80px;
  height: 80px;
}

.containerBox__text{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.containerBox__text h3{
  font-size: 24px;
  letter-spacing: 4px;
}

.containerBox__text h4{
  color: var(--textSecondary);
}

/* reservas */

#inComing{
  padding: 6em 8em 2em 8em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.dividerSeparator__pjLeft{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 260px;
  padding-left: 8em;
}
.dividerSeparator__containerPj{
  width: 400px;
}

.dividerSeparator__container2{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  gap: 2em;
  /* background-color: #4786E8; */
  text-align: center;
  padding: 2em;
}

.dividerSeparator__container2 p:nth-child(1){
  font-size: 2em;
}

.dividerSeparator__container2 p:nth-child(1) span{
  background: linear-gradient(180deg, var(--textDegradatePrimary), var(--textDegradateSecundary));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.dividerSeparator__container2 p:nth-child(2){
  max-width: 80%;
}

/* popularCategories */

#popularCategories{
  padding: 6em 8em 0 8em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.trendingGames__header button{
  cursor: pointer;
  transition: 0.2s;
  padding: 8px 12px;
  border-radius: 12px;
  background-color: var(--textSecondary);
  border: none;
  outline: inherit;
  font-family: 'Khand', sans-serif;
  font-size: 1em;
}

.trendingGames__header button:hover{
  background-color: rgba(130, 146, 165, 0.3);
}

.trendingGames__header button:active{
  transform: scale(0.96);
}

.popularCategories__card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 60px 12px;
  /* border: 1px solid red; */
  margin-top: 2em;
}

.popularCategories__card__container{
  width: 380px;
  height: 240px;
  display: flex;
  border-radius: 12px;
  align-items: center;
  background-image: url("./assets/categories/adventurebackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  cursor: pointer;
  justify-content: flex-start;
  padding-left: 2em;
}

.popularCategories__card__container img{
  position: absolute;
  height: 260px;
  bottom: 0;
  right: 0;
  transition: 0.5s;
  border-radius: 0 0 12px 0;
  transform-origin: right bottom;
}

.popularCategories__card__container img:hover{
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.popularCategories__card__container:nth-child(2){
  background-image: url("./assets/categories/survivalbackground.png");
}

.popularCategories__card__container:nth-child(3){
  background-image: url("./assets/categories/backgroundFight.png");
}

.popularCategories__card__container:nth-child(4){
  background-image: url("./assets/categories/horrorbackground.png");
}

.popularCategories__card__container:nth-child(5){
  background-image: url("./assets/categories/soulsbackground.png");
}

.popularCategories__card__container:nth-child(6){
  background-image: url("./assets/categories/mobabackground.png");
}

.popularCategories__card__container:nth-child(7){
  background-image: url("./assets/categories/cyberbackground.png");
}

.popularCategories__card__container:nth-child(8){
  background-image: url("./assets/categories/fpdbackground.png");
}

.popularCategories__card__container h4{
  font-size: 24px;
  letter-spacing: 4px;
}

/*divider 3*/

.dividerSeparator__container--pay{
  display: flex;
  justify-content: space-between;
  width: calc(100% - 320px);
  align-items: center;
  gap: 2em;
}

.dividerSeparator__container--pay h3{
  font-size: 24px;
  letter-spacing: 4px;
}

.dividerSeparator__container--pay p{
  color: var(--textSecondary);
}

/*newsletter*/

#lastestNews{
  padding: 6em 8em 2em 8em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.lastestNews__container{
  display: flex;
  gap: 1em;
  overflow-x: auto;
  flex-wrap: nowrap;
  width: 100%;
  justify-content: space-between;
}

.lastestNews__box{
  /* border: 1px solid red; */
  width: 580px;
  min-width: 500px;
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 3em;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 1em;
}

.lastestNews__box:nth-child(1){
  background-image: url("./assets/news1.png");
}

.lastestNews__box:nth-child(2){
  background-image: url("./assets/news3.png");
}

.lastestNews__box:nth-child(3){
  background-image: url("./assets/news2.png");
}

.lastestNews__box h3{
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  transition: 0.3s;
  cursor: pointer;
}

.lastestNews__box h3:hover{
  color: var(--textSecondary);
}

.lastestNews__box p{
  /* border: 1px solid red; */
  width: 100%;
  height: 120px;
  white-space: normal;
  text-overflow: ellipsis;
  overflow: hidden;
}

.lastestNews__box__footer{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}

.lastestNews__divider{
  border-bottom: 1px solid var(--textSecondary);
  width: 100px;
  opacity: .4;
}

/*Divider comments*/

.dividerComments{
  width: 100%;
  background-color: var(--backgroundBox);
  background-image: url("./assets/comments/opcion4.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 0 8em;
  display: flex;
  position: relative;
  height: 400px;
  margin-top: 4em;
}

.dividerComments__pjLeft{
  position: absolute;
  bottom: 0;
  left: 0;
  height: 380px;
  padding-left: 8em;
}

.dividerComments__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  text-align: center;
  padding: 2em;
  gap: 2em;
}

.dividerComments__box{
  font-size: 24px;
  width: 80%;
  gap: 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.dividerComments__box h3{
  font-weight: 400;
}

.dividerComments__box button{
  width: 70%;
  background-color: var(--textDegradatePrimary);
  cursor: pointer;
  padding: 8px 12px;
  border: none;
  outline: inherit;
  font-family: 'Khand', sans-serif;
  font-size: 1em;
  border-radius: 12px;
  transition: 0.2s;
}

.dividerComments__box button:hover{
  background-color: var(--textDegradatePrimeryHover);
}

.dividerComments__box button:active{
  transform: scale(0.98);
}

.commentsRating{
  display: flex;
  gap: 8px;
}

/* comments boxes */

.comments__container{
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 2em 4em 0 4em;
  align-items: center;
}

.comments__box{
  background-color: var(--box);
  padding: 12px 16px;
  border-radius: 12px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1em;
}

.comments__header{
  display: flex;
  align-items: center;
  gap: 1em;
}

.comments__header img{
  width: 60px;
  border-radius: 12px;
}

.header__box{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.header__box h3{
  font-size: 1em;
  font-weight: 400;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  transition: 0.2s;
}

.header__box h3:hover{
  color: var(--textDegradatePrimary);
}

.comments__rating{
  display: flex;
  gap: 4px;
}

.comments__rating i{
  color: #eab308;
}

.comments__body{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 100px;
}

.comments__body p{
  color: var(--textSecondary);
}

/*Newsletter*/

.newsletterBackgroundImg{
  background-image: url("./assets/map.jpg");
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.newsletter__container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: calc(100% - 320px);
  align-items: center;
  gap: 1em;
}

.newsletter__container h3:nth-child(1){
  font-size: 1em;
  font-weight: 500;
}

.newsletter__container h3:nth-child(2){
  font-weight: 700;
  font-size: 2em;
}

.newsletter__input{
  display: flex;
  height: 2em;
}

.newsletter__input input{
  padding: 4px 12px;
  width: 300px;
  background-color: var(--textPrimary);
  outline: unset;
  border: unset;
  color: var(--textSecondary);
  clip-path: polygon(10px 0%, 100% 0, 100% 100%, 0 100%, 0 10px);
}

.newsletter__input button{
  color: var(--textPrimary);
  background-color: var(--textDegradatePrimary);
  outline: unset;
  border: unset;
  padding: 4px 12px;
  clip-path: polygon(0 0, 100% 0, 100% 75%, 90% 100%, 0 100%);
  cursor: pointer;
  transition: 0.2s;
}

.newsletter__input button:hover{
  background-color: var(--textDegradatePrimeryHover);
}

.newsletter__input button:active{
  transform: scale(0.98);
}

/* footer */

.footer{
  margin-top: 4em;
  padding: 2em 8em;
  background-color: var(--backgroundBox);
  text-align: center;
}

.footer__container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.footer__container a{
  height: 24px;
}

.footer__container__socialMedia{
  display: flex;
  gap: 1em;
}

.socialMediaIcon{
  height: 24px;
  width: 24px;
}

.socialMedia__container{
  background-color: rgba(11, 128, 229, 30%);
  display: flex;
  align-items: center;
  padding: 12px;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
}

.socialMedia__container:hover{
  -webkit-transform: scale(1.1);
	transform: scale(1.1);
}

.socialMedia__container:nth-child(2){
  background-color: rgba(194, 1, 121, 30%);
}

.socialMedia__container:nth-child(3){
  background-color: rgba(28, 147, 228, 30%);
}

.socialMedia__container:nth-child(4){
  background-color: rgba(241, 0, 2, 30%);
}

.socialMedia__container:nth-child(5){
  background-color: rgba(138, 66, 242, 30%);
}

.socialMedia__container:nth-child(6){
  background-color: rgba(85, 100, 222, 30%);
}

.footer__container__column{
  text-align: left;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.footer__container__column ul{
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.footer__container__column li{
  cursor: pointer;
  transition: 0.3s;
}

.footer__container__column li:hover{
  color: var(--textSecondary);
}

.footer__text{
  margin-top: 2em;
  color: var(--textSecondary);
}

.footer__divider{
  border-bottom: 1px solid var(--textSecondary);
  border-radius: 100%;
  width: 100%;
  opacity: .3;
}

/* scrollbar */
::-webkit-scrollbar-track{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius: 2em;
  background-color: rgba(130, 146, 166, 40%);
}

::-webkit-scrollbar{
	width: 12px;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: var(--backgroundBox);
}

/*---------------------------------------------REGISTER-------------------------------------------------*/

#loginContainer{
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: url("./assets/landingLol.png");
  background-position: center;
  background-size: cover;
  display: flex;
  animation: backgroundpan 10s linear infinite;
  position: relative;
}

#registerContainer{
  width: 100%;
  height: 100vh;
  position: absolute;
  background-image: url("./assets/landingValorant2.png");
  background-position: center;
  background-size: cover;
  display: flex;
  animation: backgroundpan 10s linear infinite;
  position: relative;
}

.registerContainer__logo{
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
  font-size: 3em;
}

.registerContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 50%;
  background-color: var(--background);
  gap: 2em;
}

.registerContainer span{
  color: var(--textDegradatePrimary);
  cursor: pointer;
  transition: 0.3s;
}

.registerContainer span:hover{
  color: var(--textDegradatePrimeryHover);
}

.registerContainer__box{
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 2em;
}

.registerContainer__box__header{
  display: flex;
  align-items: center;
  gap: 1em;
}

.registerContainer__box h3{
  font-size: 2em;
  letter-spacing: 4px;
}

.box__input{
  width: 100%;
  color: var(--textSecondary);
  background-color: var(--textPrimary);
  padding: 8px 12px;
  border: unset;
  outline: unset;
  border-radius: 6px;
}

.registerContainer__box__terms{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.registerContainer__box__terms input{
  cursor: pointer;
  width: 1.25em;
  height: 1.25em;
}

.registerContainer__box__terms p{
  cursor: pointer;
  color: var(--textSecondary);
}

.registerContainer__box__terms span{
  color: var(--textDegradatePrimary);
}

.input__password{
  width: 100%;
  position: relative;
}

.input__password i{
  position: absolute;
  color: #121926;
  left: 95%;
  cursor: pointer;
  padding: 8px 0;
  transition: 0.3s;
}

.input__password i:hover{
  color: var(--textDegradatePrimary);
}

.registerContainer__box button{
  color: var(--textPrimary);
  background-color: var(--textDegradatePrimary);
  padding: 12px;
  border: unset;
  outline: unset;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 6px;
}

.registerContainer__box button:hover{
  background-color: var(--textDegradatePrimeryHover);
}

.registerContainer__box button:active{
  transform: scale(0.98);
}

.registerContainer__others{
  display: flex;
  width: 60%;
  gap: 1em;
  align-items: flex-start;
  justify-content: center;
}

.others__divider{
  border-bottom: 1px solid var(--textSecondary);
  opacity: 0.4;
  height: 16px;
  width: 35%;
}

.registerContainer__footer{
  display: flex;
  justify-content: space-between;
  gap: 1em;
}

.registerContainer__footer__boxMedia{
  background-color: var(--backgroundActive);
  padding: 1em;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  transition: 0.3s;
  cursor: pointer;
}

.registerContainer__footer__boxMedia:hover{
  color: var(--textSecondary);
}

.registerContainer__footer__boxMedia i{
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.registerContainer p{
  text-align: center;
}

